* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --primry-clr: #1a1f28;
    --secondray-clr: #242c3770;
    --blue-clr: #0070cc;
    --white: #fff;
    --border-radius: 10px;
    --shadow: 4px 6px 10px 0px #13171e9c;
    --inner-shadow: inset 0px -200px 100px 0px #00000080;
    --transition: .3s;
}

body {
    background: var(--primry-clr);
    background: linear-gradient(120deg, rgba(26, 31, 40, 1) 25%, rgba(65, 73, 85, 1) 51%, rgba(26, 31, 40, 1) 75%);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

i {
    margin: 0px 5px;
}

i:hover {
    transition: var(--transition);
    opacity: 0.8;
}

a {
    color: var(--white);
    text-decoration: none;
}

.container {
    width: 90%;
    height: auto;
    margin: 10px auto;
}

nav {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondray-clr);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.content {
    display: flex;
    justify-content: space-between;
}

.sideBar {
    width: 20%;
    height: 600px;
    background-color: var(--secondray-clr);
    border-radius: var(--border-radius);
    margin: 10px 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
}

.sideBar-links {
    display: flex;
    flex-direction: column;
    margin: 20px 0
}

.sideBar a {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px;
}

.sideBar a:hover {
    color: var(--blue-clr);
    transition: var(--transition);
}

.games {
    width: 78%;
    height: auto;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondray-clr);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.ad-game {
    height: 400px;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--primry-clr);
    background-image: url(img/horizon-forbidden-west-screenshot-02-disclaimer-02oct20.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    box-shadow: var(--inner-shadow);
}

.ad-game-buy-btn {
    height: 40px;
    min-width: auto;
    font-size: 12px;
    border: none;
    outline: 0;
    background-color: var(--blue-clr);
    padding: 10px;
    color: var(--white);
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: var(--border-radius);
}

.game-cart {
    height: auto;
    width: fit-content;
    background-color: var(--blue-clr);
    padding: 10px;
    margin: 0 0 0 5px;
    border-radius: var(--border-radius);
}

h3 {
    position: absolute;
    bottom: 60px;
    left: 20px;
    font-size: 40px;
    font-weight: 900;
}

.games-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto;
}

.game {
    height: auto;
    width: 20%;
    margin: 10px 10px;
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: var(--shadow);
}

.game-img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.buyBtn {
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    font-size: 18px;
    border: none;
    outline: 0;
    background-color: #111111b5;
    padding: 5px;
    color: var(--white);
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* media quaries */
@media (max-width:990px) {
    .content {
        flex-direction: column;
    }

    .sideBar {
        height: auto;
        width: 100%;
    }

    .games {
        width: 100%;
    }

    .game {
        width: 30%;
        height: auto;
    }
}

@media (max-width:691px) {
    .games-list {
        justify-content: space-between;
    }

    .game {
        width: 40%;
        height: auto;
    }

    .games-list .game .buyBtn {
        display: none;
    }

    h3 {
        font-size: 30px;
    }
}

@media (max-width:300px) {
    .game {
        width: 100%;
    }

    h3 {
        font-size: 20px;
    }
}

@media (max-width:332px) {
    .game {
        width: 100%;
        height: auto;
    }
}